
.pagination {
    display: inline-block;
    background-color: rgb(190, 83, 182);
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.page {
    border: 1px solid black
}

.pagination:hover {
    cursor: pointer;
}
